<script type="text/javascript">

$(document).ready(function()
{
	$("#submitbutton").click(function()
	{
		var row_count=0;
		var row_id=100658;
		//jquery call back function to get one record in each request
		var callbackfn=setInterval(function() 
		{
			$.get("insurance_mongo_data/fetch/"+ row_id.toString(), function (data) 
			{
				for (var j = 0; j < 10; j++)
				{
					if(row_count%20===0)
					{
						$("#insurance").html("");
					}

					$("#color").html(row_count.toString());
					if (j % 2 == 0) 
					{
						var insurancetable_row = $("<tr id='"+row_count+"' class='even'>");
					}
			
					else 
					{
						var insurancetable_row = $("<tr id='"+row_count+"'>");
					}

					insurancetable_row.append($("<td>" + data[j].policyid + "</td>"));
					insurancetable_row.append($("<td>" + data[j].statecode + "</td>"));
					insurancetable_row.append($("<td>" + data[j].county + "</td>"));
					insurancetable_row.append($("<td>" + data[j].latitude + "</td>"));
					
					insurancetable_row.append($("<td>" + data[j].line + "</td>"));
					insurancetable_row.append($("<td>" + data[j].construction + "</td>"));
					insurancetable_row.append($("<td>" + data[j].point + "</td>"));
					insurancetable_row.append($("</tr>"));

					$("#insurance").append(insurancetable_row);
					$("#insurance tr#"+row_count).hide();
					$("#insurance tr#"+row_count).fadeIn("slow");
					row_count = row_count + 1;
					row_id=row_id+1;

					if (row_count==100)
					{
						clearInterval(callbackfn);
					}
				}
			});
		}, 500);
	});
});

</script>

<div align="center">

<h1>Web XML Project 3-Insurance</h1>

<p>This contains the table list for different insurance based on state and county from MongoDB database in heroku server</p>

<input type="button" id="submitbutton" value="Click it" style="color:red" name="button"/>

<span style="color:red">Count of records: <label id="color"></label></span>

<table cellspacing='0' id="dtable" border="1">

<thead>
<tr>
<th> PolicyID </th> 
<th> Statecode </th> 
<th> County </th> 
<th> Ponit_latitude </th> 

<th> Line </th>
<th> Construction </th>
<th> Point_Granularity </th> 
</tr>
</thead>

<tbody id="insurance">
</tbody>

</table>

</div></head> 


