<script type="text/javascript">

$(document).ready(function()
{
	$("#submitbutton").click(function()
	{
		var counter=1;
		var pid=100658;
		//jquery call back function to get one record in each request
		var fn=setInterval(function() 
		{
			$.get("insurance_mongo_data/fetch/"+ pid.toString(), function (data) 
			{
				
				
					if(counter%20===0)
					{
						$("#insurance").html("");
					}

					if (counter==100)
					{
						clearInterval(fn);
					}
					
					$("#color").html(counter.toString());
					
					var insurancetable_row = $("<tr id='"+counter+"'>");
					
					insurancetable_row.append($("<td>" + data[0].policyid + "</td>"));
					insurancetable_row.append($("<td>" + data[0].statecode + "</td>"));
					insurancetable_row.append($("<td>" + data[0].county + "</td>"));
					insurancetable_row.append($("<td>" + data[0].latitude + "</td>"));
					insurancetable_row.append($("<td>" + data[0].line + "</td>"));
					insurancetable_row.append($("<td>" + data[0].construction + "</td>"));
					insurancetable_row.append($("<td>" + data[0].point + "</td>"));
					insurancetable_row.append($("</tr>"));

					$("#insurance").append(insurancetable_row);
					$("#insurance tr#"+counter).fadeOut("fast");
					$("#insurance tr#"+counter).fadeIn("slow");
					counter = counter + 1;
					pid=pid+1;
					
				
			});
		}, 500);
	});
});

</script>

<div style="color:white;background-color:black;">

<h1>Web XML Project 3-Insurance</h1>

<p>Insurance policy based on state and county from MongoDB database in heroku server</p>

</div>
<div>
<input type="button" id="submitbutton" value="Output" style="color:red" name="button"/>

<table cellspacing='0' id="dtable" border="1">

<thead>
<tr>
<th> PolicyID </th> 
<th> Statecode </th> 
<th> County </th> 
<th> Ponit_latitude </th> 
<th> Line </th>
<th> Construction </th>
<th> Point_Granularity </th> 
</tr>
</thead>

<tbody id="insurance">
</tbody>

</table>

<span style="color:red">Counter: <label id="color"></label></span>
</div>



